{% extends 'layout.html' %} {% block content %}

<div>COMMUNITY</div>
<!-- DELETE METHOD -->
<table>
  <thead>
    <tr>
      <td>title</td>
      <td>content</td>
      <td>user</td>
      <td>date</td>
      <td>delete</td>
    </tr>
  </thead>
  <tbody>
    {% for item in posts %}
    <tr>
      <td>{{ item.title }}</td>
      <td>{{ item.content }}</td>
      <td>{{ item.user }}</td>
      <td>{{ item.createdAt }}</td>
      <td>
        <input type="submit" value="Delete" onclick="deletePost();" />
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
