<!-- 어드민 _ 이벤트 등록 페이지 -->
{% extends 'layout.html' %}
<!-- admin page layout -->

{% block content %}

<!-- add event -->
<div>ADD EVENT</div>
<div class="admin_addevent_box">
  <form action="">
    <label for="">event name</label>
    <input type="text" value="" />
    <label for="">event date</label>
    <input type="number" value="" />
    <label for="">event price</label>
    <input type="number" value="" />
    <label for="">event description</label>
    <input type="textarea" value="" />
    <label for="">event category</label>
    <select name="" id="">
      <option value="">Festival</option>
      <option value="">Lecture</option>
    </select>
    <input type="submit" value="add event" calss="" />
  </form>
</div>

<!-- event list -->
<div>EVENT LIST</div>
<form action="">
  <table>
    <thead>
      <tr>
        <td>event category</td>
        <td>event name</td>
        <td>event date</td>
        <td>remove event</td>
      </tr>
    </thead>
    <tbody>
      <!--{% for in %}-->
      <tr>
        <td>event category</td>
        <td>{{ eventNm }}</td>
        <td>event date</td>
        <td>remove event<!-- button / input type submit으로 delete 버튼 --></td>
      </tr>
      <!--{% endfor %}-->
    </tbody>
  </table>
</form>

<!-- confirm event res. -->
<div>RESERVATION LIST</div>
<table>
  <thead>
    <tr>
      <td>event name</td>
      <td>user name</td>
      <td>reservation number</td>
    </tr>
  </thead>
  <tbody>
    <!--{% for in %}-->
    <tr>
      <td>{{ eventNm }}</td>
      <td>{{ user }}</td>
      <td>{{ eventNo }}</td>
    </tr>
    <!--{% endfor %}-->
  </tbody>
</table>

{% endblock %}
