<!-- 어드민 _ 이벤트 등록 페이지 -->
{% extends 'layout.html' %}
<!-- admin page layout -->

{% block content %}

<!-- confirm event res. -->
<div>EVENT RESERVATION LIST</div>
<!-- DELETE METHOD -->
<table>
  <thead>
    <tr>
      <td>event name</td>
      <td>user name</td>
      <td>delete</td>
    </tr>
  </thead>
  <tbody>
    <!--{% for in %}-->
    <tr>
      <td>{{ event.eventNm }}</td>
      <td>{{ event.user }}</td>
      <td>
        <input
          type="submit"
          value="Delete"
          onclick="return confirm('해당 예약 내용을 삭제하시겠습니까?');"
        />
      </td>
    </tr>
    <!--{% endfor %}-->
  </tbody>
</table>

{% endblock %}
