<!-- 어드민 _ 호텔 등록 페이지 -->
{% extends 'layout.html' %}
<!-- admin page layout -->

{% block content %}

<!-- confirm event res. -->
<div>ROOM RESERVATION LIST</div>
<!-- DELETE METHOD -->
<table>
  <thead>
    <tr>
      <td>hotel name</td>
      <td>user name</td>
      <td>room type</td>
      <td>check-in/out</td>
      <td>memo</td>
      <td>delete</td>
    </tr>
  </thead>
  <tbody>
    <!--{% for in %}-->
    <tr>
      <td>{{ room.roomNm }}</td>
      <td>{{ room.user }}</td>
      <td>{{ room.roomType }}</td>
      <td>{{ room.revStart }} ~ {{ room.revEnd }}</td>
      <td>{{ room.memo }}</td>
      <td>
        <input
          type="submit"
          value="Delete"
          onclick="return confirm('해당 예약 내용을 삭제하시겠습니까?');"
        />
      </td>
    </tr>
    <!--{% endfor %}-->
  </tbody>
</table>

{% endblock %}
