{% extends '../adminlayout.html' %}
{% block content %}
    <nav>
    <div class='nav'>
      <ul>
        <li class='list'>
        <b></b>
        <b></b>
        <a href="admin.html"><i class='xi-lock'></i>ADMIN</a>
        </li>
        <li class='list active'>
        <b></b>
        <b></b>
        <a href="userAdmin.html"><i class='xi-user'></i>USER</a>
        </li>
        <li class='list'>
        <b></b>
        <b></b>
        <a href="eventAdmin.html"><i class='xi-school'></i>EVENT</a>
        </li>
        <li class='list'>
        <b></b>
        <b></b>
        <a href="hotelAdmin.html"><i class='xi-building'></i>HOTEL</a>
        </li>
        <li class='list'>
        <b></b>
        <b></b>
        <a href="main.html"><i class='xi-external-link'></i>MAIN</a>
        </li>    
    </ul>
    </div>
    </nav>
  <!--메뉴 E-->
  <!--본문 S-->
    <section>
        <div class='content user'>
          <div class='title'>회원 관리</div>
          <div class='userAdmin'>
            <div class='top'>
            <ul>
              <input type="checkbox" class='select all'>
              <li class='name'>이름</li>
              <li class='nickname'>닉네임</li>
              <li class='email'>이메일</li>
              <li class='phone'>전화 번호</li>
              <li class='grade'>회원 등급</li>
              <li class='type'>반려동물 종류</li>
              <li class='regDate'>가입일</li>
            </ul>
            </div>
            <div class='bottom'>
            <ul>
              <input type="checkbox" class='select'>
              <li class='name'>김한국</li>
              <li class='nickname'>만세</li>
              <li class='email'>iLoveKorea@email.net</li>
              <li class='phone'>010-4444-4444</li>
              <select class='grade'>
                <option>USER</option>
                <option>VIP</option>
                <option>ADMIN</option>
              </select>
              <li class='type'>강아지</li>
              <li class='regDate'>2021-07-03</li>
            </ul>
            </div>
            <div class='userBtn'>
              <button>등급 변경</button>
              <button>회원 강퇴</button>
            </div>
        </div> <!--//userAdmin-->
        </div> <!--//content-->
    </section>
{% endblock %}