{% extends '../../layout.html' %}
<!-- 회원 전체 예약리스트 조회 페이지입니다 -->

{% block content %}

<!-- confirm event res. -->
<div>ROOM RESERVATION LIST</div>
<!-- DELETE METHOD -->
<table>
  <thead>
    <tr>
      <td>hotel name</td>
      <td>user email</td>
      <td>room type</td>
      <td>check-in/out</td>
      <td>memo</td>
      <td>delete</td>
    </tr>
  </thead>
  <tbody>
     {% for item in rooms %} 
    <tr>
      <td>{{ item.roomNm }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.roomType }}</td>
      <td>{{ item.revStart }} ~ {{ item.revEnd }}</td>
      <td>{{ item.memo }}</td>
      <td>
        <a href="/admin/room/{{user._id}}/edit">삭제</a>
        <!-- <input type="submit" value="Delete" onclick="" /> -->
      </td>
    </tr>
      {% endfor %}

  </tbody>
</table>

{% endblock %}