{% extends '../layout.html' %}
{%set title="커뮤니티"%}
{% block content %}
<link rel="stylesheet" type="text/css" href="/css/board.css">
<script type='text/babel' src='/js/community.js' defer></script>
  <div class="boardTitle layout_width"><img src="image/title.png">community</img></div>
  <div class='indexWrap layout_width'>
  <div class='list'>
    <ul class='top'>
      <li class='title'>제목</li>
      <li class='poster'>작성자</li>
      <li class='date'>작성일</li>
    </ul>
    <ul class='bottom'>
      {% if posts.length > 0 %}
        {% for item in posts %}
          <li>
            <a href='/community/{{ item._id }}' class='title'>
              {{ item.title }}
            </a>
            <span class='poster'>{{ item.name }}</span>
            <span class='date'>{{ item.createdAt }}</span>
          </li>
        {% endfor %}
      {% else %}
        <li class='noData'>게시글이 없습니다</li>
      {% endif %}
    </ul>
    <div class='boardBtn'>
      <a href='/community/new'><i class="xi-pen"></i>작성</a>
    </div>
  </div> <!--//list-->
  <div class='pagination'> <!--pagination-->
    {% set pagination = [
      { 'name': '1' , 'url': 'community?page=1' },
      { 'name': '2' , 'url': 'community?page=2' },
      { 'name': '3' , 'url': 'community?page=3' }
    ] %}
    {% for item in pagination %}
    <a href={{item.url}}>{{item.name}}</a>
    {% endfor %}
  </div>
  <div class='searchBox'>
     <form method="get" action="?" autocomplete="off">
        <input type="text" name="sword">
        <input type="image" class="search_btn" src="image/ico_search.png">
     </form>
  </div> <!--//searchBox-->
</div> <!--//boardWrap-->
{% endblock %}