{% extends '../layout.html' %}
{% block content %}
  <div class="boardTitle layoutwidth"><img src="img/title.png">community</img></div>
  <div class='boardWrap layoutwidth'>
  <div class='list'>
    <ul class='top'>
      <li class='subject_c'>제목</li>
      <li class='writer_c'>작성자</li>
      <li class='date_c'>작성일</li>
      <li class='hit_c'>조회수</li>
    </ul>
    <ul class='bottom'>
      <div class='eachList'>
        <a href="#">{{ title }}}</a>
        <li class='writer_c'>{{ user }}</li>
        <li class='date_c'>{{ createdAt }}</li>
        <li class='hit_c'>429</li>
      </div>
    </ul>
    <a href='/community/new'><i class="xi-pen"></i>작성</a>
  </div> <!--//list-->
    <div class='pagination'>
      <ul>
        <li><i class="xi-angle-left-min"></i></li>|
        <li>page</li>|
        <li><i class="xi-angle-right-min"></i></li>
      </ul>
	  </div> <!--//pagination-->
    <div class='searchBox'>
    	<form method="get" action="" autocomplete="off">
				<input type="text" name="sword">
				<input type="submit" class="search_btn" value="">
        <i class="xi-search"></i>
			</form>
    </div> <!--//searchBox-->
</div> <!--//boardWrap-->
{% endblock %}
