{% extends '../layout.html' %}
{%set title="글 작성"%}
{% block content %}
<link rel="stylesheet" type="text/css" href="/css/board.css">
  <div class='form_wrap layout_width'>
    <div class="form_box">
      <form method='post' action='/community/new' autocomplete='off'>
        <div class='top'>
            
          <ul>
            <li>제목</li>
            <li>
                <input type="text" name="title">
              <!-- <input type='text' name='title' id='subject'> -->
            </li>
          </ul>
        </div>
         <div class="form">
            <textarea id="content" name="content" rows="40"></textarea>
            <script> CKEDITOR.replace( 'content', { filebrowserImageUploadUrl: '../uploadIMG.jsp' }); </script>
         </div>
      </div><!-- //form_box -->
      <div class='btnWrap'>
        <a href=""><i class="xi-bars"></i>목록</a>
        <input type="submit" class="creataPost" value="{{ '수정' if _id else '작성' }}" style='float: right;'>
    </div> <!-- //btnWrap -->
  </div> <!-- //form_wrap -->
{% endblock %}
