{% extends '../layout.html' %}
{%set title="{{ post.title }}"%}
{% block content %}
<link rel="stylesheet" type="text/css" href="/css/board.css">
<script type='text/babel' src='/js/community.js' defer></script>
  <div class="boardTitle layout_width"><img src="image/title.png">community</img></div>
  <div class='boardWrap layout_width'>
    <div class='post'>
      <div class="info">
        <h3 class="title">{{ post.title }}</h3>
        <dl>
          <dt class='poster'>{{ post.user }}</dt>
          <dd class='date'>{{ post.createdAt }}</dd>
        </dl>
      </div> <!-- //info -->
      <div class='content'>
        {{ post.content | safe }}
      </div>
      <div class='comment'> <!-- 댓글 목록 구역-->
        {% block comment %}
        {% include "community/comment.html" %}
        {% endblock %}
      </div> <!-- //comment -->
      <div> <!-- 댓글 작성 구역 -->
        <form action="post" action="/community/{{ post._id }}" class='myComment'>
          <textarea class='comContent' name="content"></textarea>
          <button type="submit">등록</button>
        </form>
      </div> <!--//myComment-->
    </div> <!--//post-->
    <div class='buttonWrap'>
      <a href='/community/new'><i class="xi-pen"></i>작성</a>
      <a href='/community/{{ post._id }}/edit'><i class="xi-wrench"></i>수정</a>
      <a href='/community/{{ post._id }}/delete' onclick="if(!confirm('삭제 하시겠습니까?')){return false;}"><i class="xi-trash"></i>삭제</a>
      <a href="/community"><i class="xi-bars"></i>목록</a>
    </div>
  </div> <!--//boardWrap-->
  {% endblock %}