<!-- 화면출력 -->

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<link rel="stylesheet" type="text/css" href="css/view.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/view.js" defer> </script>
<title>{% %} - 커뮤니티 :: 오 마이 펫</title>
</head>
<body>
  <!--상단 S-->
  <header style="height: 100px;">
  </header>
  <!--상단 E-->
  <!--본문 S-->
  <div class="boardTitle layoutwidth"><img src="img/title.png">community</img></div>
  <div class='boardWrap layoutwidth'>
    <div class='post'>
      <div class="info">
        <ul class="top">
          <l class="title">제목</li>
        </ul>
        <div class="sub_info">
          <ul class="profile_info">
            <li class="photo"><img src=""></li>
            <li class="grade">2</li>
          </ul>
          <ul class="poster_info">
            <li>닉네임</li> <br>
            <li>작성일자</li>
            <li>조회수</li>
          </ul>
        </div> <!-- //sub_info -->
      </div> <!-- //info -->
      <div class='content'>
        나는 내용입니다!
      </div>
      <div class='comment'> <!-- 댓글 목록 구역-->
        <div class='eachCom'>
          <ul class="com_info">
            <li class='photo'><img src=""></li>
            <li class="grade">3</li>
          </ul>
          <ul class="com_poster">
            <li>댓글 작성자</li>
            <li>작성 일자</li>
            <div class="comn_btn">
              <button>수정</button>
              <span>|</span>
              <button>삭제</button>
            </div>
            <span class="com_content">
              나는 내용입니다
            </span>
          </ul>
        </div> <!-- //eachCom -->
      </div> <!-- //comment -->
      <div class='myComment'> <!-- 댓글 작성 구역 -->
        <span>닉네임</span><br>
        <textarea class='comContent'>댓글 내용</textarea>
        <button>등록</button>
      </div> <!--//myComment-->
    </div> <!--//post-->
    <div class='buttonWrap'>
      <button><i class="xi-pen"></i>작성</button>
      <button><i class="xi-wrench"></i>수정</button>
      <button><i class="xi-trash"></i>삭제</button>
      <button><i class="xi-bars"></i>목록</button>
    </div>
  </div> <!--//boardWrap-->
  <!--본문 E-->
  <!--하단 S-->
  <footer style="height: 100px;">
  </footer>
  <!--하단 E-->
</body>
</html>