<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/error.css">
<title>알 수 없는 페이지 :: 오 마이 펫</title>
</head>
<body>
    <div class='cloud'>
        <img src="image/cloud2.png">
        <img src="image/cloud1.png">
        <img src="image/cloud3.png">
    </div>
    <div class='error'><h2>
        <span>4</span>
        <span>0</span>
        <span>4</span>
    </h2></div>
    <div class="errorBack">
        <h3>해당 페이지는 존재하지 않습니다</h3>
        <a href="/">GO HOME</a>
    </div>
    <div class='member'>
        <img src="image/mj.gif">
        <img src="image/jy.gif">
        <img src="image/hb.gif">
        <img src="image/ah.gif">
        <img src="image/hy.gif">
    </div>
    <div class='grass'></div>
</body>
</html>