{% extends '../layout.html' %}
{% block content %}
<div class='mypage'>
	<div class='mypage_back'>
		<div class='layout_width'>
		<a href='/member/mypage'>my page</a>
		</div>
	</div>
	<div class='my_info layout_width'>
		<div class='infobox box1'>
		<div class='info_title title1'>내 정보</div>
		<dl>
			<dd>아이디</dd>
			<dt>{{ name }}</dt>
		</dl>
		<dl>
			<dd>반려동물 이름</dd>
			<dt>{{ nickname }}</dt>
		</dl>
		<dl>
			<dd>회원등급</dd>
			<dt>{{ role }}</dt>
		</dl>
		<dl>
			<dd>반려동물 종류</dd>
			<dt>{{ type }}</dt>
		</dl>
		<dl>
			<dd>전화번호</dd>
			<dt>{{ phone }}</dt>
		</dl>
		</div>
		<!--//infobox -->
		<div class='lec_box box1'>
		<div class='lec_title title1'>강연예약 현황</div><div class='plus'><a href='/lec'>상세보기</a></div>
		<table class='lec_res table1'>
				<tr>
					<td>강연 제목</td>
					<td>예약일</td>
					<td>예약자 성함</td>
				<tr>
					<td>{{ eventNm }}</td>
					<td>{{ eventNo }}</td>
					<td>{{ user }}</td>
				</tr>
			</table>
		</div>
		<!--// lec_box -->
		<div class='hotel_box box1'>
			<div class='hotel_title title1'>호텔예약 현황</div><div class='plus'><a href='hotel/'>상세보기</a></div>
			<table class='hotel_res table1'>
				<tr>
					<td>호텔명</td>
					<td>주소</td>
					<td>room type</td>
					<td>예약일</td>
					<td>체크인</td>
					<td>체크아웃</td>
				<tr>
					<td>{{ hotelNm }}</td>
					<td>{{ memo }}</td>
					<td>{{ roomType }}</td>
					<td>{{ regDt }}</td>
					<td>{{ revStart }}</td>
					<td>{{ revEnd }}</td>
				</tr>
			</table>
		</div>
		<!--// hotel_box-->
	</div>
	<!--// my_info layout_width-->
</div>
<!-- //mypage -->
{% endblock %}
