@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  color: #3d3d3d;
}

html {
  font-size: 16px;
  line-height: 1.15;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: list-item;
}

.layout_width {
  width: 1100px;
  margin: 0 auto;
}

.box_title {
  position: relative;
  font-size: 2rem;
  text-align: center;
  margin-top: 150px;
  font-weight: 700;
  color: #ffaf2d;
}

.subtitle {
  position: relative;
  font-size: 1.125rem;
  text-align: center;
  margin-top: 25px;
  padding-top: 25px;
  line-height: 32px;
}
/*초기화, 공통설정 끝*/

/*유저 메뉴 시작*/
.user_menu {
  margin: 0 auto;
  padding-top: 15px;
  text-align: right;
}

.user_menu nav {
  display: inline-block;
}

.user_menu nav a {
  position: relative;
  font-size: 0.875rem;
  margin-left: 32px;
}

.user_menu nav a:after {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  background-color: #d8d8d8;
  position: absolute;
  right: 0;
  left: -17px;
  top: 3px;
  cursor: default;
}

.user_menu nav a:first-child:after {
  display: none;
}
/*유저 메뉴 끝*/

/*메인 메뉴 영역 시작*/
nav .gnb {
  text-align: center;
}

nav .main_menu {
  float: left;
}

nav .icon_menu {
  float: right;
  padding: 15px 0;
}

nav .gnb:after {
  clear: both;
  content: "";
  display: block;
}

nav .main_menu li {
  display: block;
  width: 180px;
  padding: 20px;
  float: left;
  vertical-align: top;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

nav .main_menu li span:hover,
nav .main_menu li span:hover .xi-bars {
  color: #ffaf2d;
}

nav .main_menu li a:hover {
  color: #ffaf2d;
}

nav .icon_menu .search {
  display: inline-block;
  vertical-align: top;
  height: 20px;
  margin-left: 20px;
}
/*메인 메뉴 영역 끝*/

/*메인 배너 영역 시작*/
.main_banner {
  position: relative;
}

.main_banner .banner {
  width: 100%;
}
/*메인 배너 영역 끝*/

/*이벤트 진열 영역 시작*/

.event_display .s_event_box {
  margin: 55px -9px 0 -9px;
}

.event_display .s_event_box:after {
  clear: both;
  display: block;
  content: "";
}

.event_display .s_event_box .s_event_list {
  float: left;
  width: 354px;
  margin: 0 9px 40px 9px;
}

.event_display .s_event_box .s_event_list a {
  overflow: hidden;
  width: 355px;
  height: 268px;
  position: relative;
  text-align: center;
}

.event_display .event_more {
  font-size: 1rem;
  float: right;
  margin-top: 50px;
}

/*상품 진열 영역 끝*/

/*호텔 영역 시작*/
.hotel .hotel_box {
  margin: 55px -9px 0 -9px;
}

.hotel .hotel_box:after {
  clear: both;
  display: block;
  content: "";
}

.hotel .hotel_box .hotel_list {
  float: left;
  width: 354px;
  margin: 0 9px 40px 9px;
}

.hotel .hotel_box .hotel_list a img {
  overflow: hidden;
  width: 354px;
  position: relative;
  text-align: center;
}

.hotel .hotel_box .hotel_list a .hotel_sort {
  color: #656565;
  display: inline-block;
  margin: 22px 0 10px 0;
  padding-bottom: 7px;
  border-bottom: 2px solid #ffaf2d;
}

.hotel .hotel_box .hotel_list a .hotel_title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -2px;
  margin-top: 0;
}
/*호텔 영역 끝*/

/*게시판 영역 시작*/
.board .notice_box,
.board .cummunity_box {
  display: inline-block;
  width: 500px;
  text-align: center;
}

/*게시판 영역 끝*/

/*footer_left 시작*/
footer {
  background-color: #f9f9f9;
  margin-top: 150px;
  height: 280px;
  padding: 55px 0 70px;
}

footer .footer_left {
  float: left;
  width: 490px;
}

footer .footer_right {
  position: relative;
  float: right;
  width: 610px;
}

footer .footer_menu li {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  padding-left: 15px;
  vertical-align: top;
  line-height: 24px;
}

footer .footer_menu li:first-child {
  margin-left: 0;
  padding-left: 0;
}

footer .footer_menu li:before {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background-color: #d8d8d8;
  position: absolute;
  left: -2px;
  top: 6px;
}

footer .footer_menu li:first-child:before {
  display: none;
}

footer .footer_left .support {
  margin: 36px 0 27px;
}

footer .footer_left .support .support_title {
  line-height: 30px;
  font-size: 1.375rem;
  font-weight: 700;
}

footer .footer_left .support .support_tel {
  margin: 5px 0 10px;
  font-size: 1.625rem;
  font-weight: 700;
  color: #ffaf2d;
}

footer .footer_left .support .support_time {
  line-height: 32px;
  color: #888888;
  margin: 0;
}

footer .footer_left .support .support_time > a {
  color: #ffaf2d;
  cursor: pointer;
  font-weight: 500;
}

/*footer left 끝*/

/*footer_right 시작*/
footer .footer_right .company {
  margin: 60px 0 10px;
  letter-spacing: -1px;
}

footer .footer_right .company .company_title {
  display: block;
  margin-bottom: 10px;
  font-size: 1.375rem;
  font-weight: 700;
}

footer .footer_right .company .company_info {
  line-height: 32px;
  color: #888888;
}

footer .footer_right .copyright {
  font-size: 0.875rem;
  color: #888888;
}

footer .footer_right .family_site {
  position: absolute;
  top: -10px;
  right: 0;
  width: 243px;
  height: 45px;
  box-sizing: border-box;
}

footer .footer_right .family_site_default {
  display: block;
  position: relative;
  z-index: 2;
  padding: 0 47px 0 14px;
  border: 1px solid #bcbcbc;
  background: #ffffff url("../image/family_site_btn.png") no-repeat 95% 50%;
  line-height: 43px;
}
/*footer_right 시작*/
