@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 14px;
  color: #212121;
}
body {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
dl {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
}
dt {
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 50px;
  padding-left: 20px;
}
dd {
  display: table-cell;
  vertical-align: middle;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  height: 40px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 0 10px;
}
a {
  text-decoration: none;
  color: #212121;
}

#main_wrap {
  padding: 10px;
}
/** 공통 */
.layout_width {
  max-width: 1100px;
  margin: 0 auto !important;
}
.box1 {
  width: 1100px;
  border: 1px solid #8f8c83;
  padding: 30px;
}
.title1 {
  font-size: 20px;
}
.table1 {
  margin-top: 15px;
  width: 100%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}
.pad {
  padding-left: 5px;
}
/** users/login page S */
.login_box {
  width: 320px;
  position: fixed;
  left: calc(50% - 160px);
  top: calc(50% - 140px);
}

.login_box .login_title {
  font-size: 30px;
  text-align: center;
  font-family: Cafe24Ssurround;
  margin-bottom: 20px;
}

.login_box input[type="email"] {
  margin-bottom: 8px;
}

.login_box input[type="submit"] {
  background-color: #ffaf2d;
  color: #ffffff;
  border: 0;
  width: 100%;
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 13px;
}
.login_box .join_btn {
  background-color: #ffaf2d;
  color: #ffffff;
  border: 0;
  width: 100%;
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 8px;
  text-align: center;
}
.login_box .join_btn a {
  font-size: 13px;
  display: block;
  line-height: 45px;
  /* vertical-align: middle; */
  color: #ffffff;
}
/** users/login E */
/** users/show S */
.mypage .mypage_back {
  width: 100%;
  height: 200px;
  background-color: #ffaf2d;
  text-align: center;
}
.mypage .mypage_back a {
  color: #ffffff;
  font-family: Cafe24Ssurround;
  font-size: 50px;
  line-height: 200px;
  vertical-align: middle;
}
.mypage .my_info .infobox {
  margin-top: 100px;
}
.mypage .my_info .infobox dl {
  width: 80%;
}
.mypage .my_info .infobox dd {
  width: 40px;
  font-size: 12px;
  padding-left: 60px;
}
.mypage .my_info .event_box {
  margin-top: 50px;
}
.mypage .my_info .event_box .event_res tr {
  text-align: center;
}
.mypage .my_info .event_box .event_res td {
  padding: 20px;
  border-bottom: 1px solid #444444;
}
.mypage .my_info .event_box .event_res tr:first-child td {
  padding: 10px;
}
.mypage .my_info .hotel_box {
  margin-top: 50px;
}
.mypage .my_info .hotel_box:after,
.mypage .my_info .event_box .plus:after {
  clear: right;
  content: "";
  display: block;
}
.mypage .my_info .hotel_box .plus,
.mypage .my_info .event_box .plus {
  float: right;
  font-size: 14px;
  margin-top: 5px;
}
.mypage .my_info .hotel_title,
.mypage .my_info .event_title {
  display: inline-block;
}
.mypage .my_info .hotel_box .hotel_res tr {
  text-align: center;
}
.mypage .my_info .hotel_box .hotel_res td {
  padding: 20px;
  border-bottom: 1px solid #444444;
}
.mypage .my_info .hotel_box .hotel_res tr:first-child td {
  padding: 10px;
}
/** users/show E */
/** users/new S */
.join_box {
  width: 640px;
  position: fixed;
  left: calc(50% - 320px);
  top: 100px;
}
.join_title {
  width: 640px;
  height: 100px;
  text-align: center;
  border-bottom: 1px solid #212121;
  font-size: 40px;
  font-family: Cafe24Ssurround;
}
.join_box .join_form {
  padding: 40px;
}
.join_box .join_form dl {
  margin-bottom: 10px;
}
.join_box .join_form dl dt {
  font-size: 16px;
}
.join_box .join_form dl dd {
  width: 70%;
}
.join_box input[type="submit"] {
  background-color: #ffaf2d;
  color: #ffffff;
  border: 0;
  width: 100%;
  height: 45px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 14px;
}
.join_box .zip {
  margin-bottom: 15px;
  width: 75%;
}
.join_box input[type="text"]:focus,
.join_box input[type="password"]:focus,
.join_box input[type="email"]:focus
 {
  border-color: #ffaf2d;
}
.join_box dl dd:last-child {
  font-size: 16px;
}
.join_box input[type="radio"] {
  display: none;
}
/* 기본 상태 */
.join_box input[type="radio"] + label .xi-radiobox-blank {
  display: inline-block;
  color: #ffaf2d;
  padding: 0 6px;
  font-size: 18px;
}
.join_box input[type="radio"] + label .xi-radiobox-checked {
  display: none;
  color: #ffaf2d;
  padding: 0 6px;
  font-size: 18px;
}
/* 선택 상태 */
.join_box input[type="radio"]:checked + label .xi-radiobox-blank {
  display: none;
}
.join_box input[type="radio"]:checked + label .xi-radiobox-checked {
  display: inline-block;
}
/** users/new E */
/** event index S */
.Event_box .Event_title {
  font-family: Cafe24Ssurround;
  font-size: 30px;
  margin: 30px 0;
  padding-left: 7px;
}
.Event_banner_wrap {
  margin-bottom: 60px;
}
.Event_banner_wrap img {
  width: 100%;
  border-radius: 10px;
}
.Event_box .Event_banner_wrap .Event_text_wrap {
  height: 30px;
  margin-top: 10px;
}
.Event_box .banner_etc {
  display: inline-block;
}
.Event_box .banner_etc .banner_subject {
  font-size: 19px;
}
/** keeping-box btn */
.Event_box .Event_banner_wrap .banner_etc .banner_subject .keeping-box {
  display: inline-block;
  border: 1px solid #ffaf2d;
  padding: 1px 10px;
  border-radius: 20px;
  color: #ffaf2d;
  font-size: 15px;
}
.Event_banner_wrap .Event_text_wrap .banner_date {
  display: inline-block;
  font-size: 15px;
  /* float: right; */
  line-height: 28px;
  vertical-align: top;
  padding-right: 2px;
  color: #807d7d;
}
.Event_banner_wrap .Event_text_wrap:after {
  clear: right;
  display: block;
  content: "";
}
/** event E */
/** event_new S */
.event_res_box .res_form {
  margin-top: 80px;
}
.event_res_box .res_form .res_left {
  display: inline-block;
  vertical-align: top;
}
.event_res_box .res_form .res_right {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: inline-block;
  margin-left: 30px;
  padding: 40px;
}
.event_res_box .res_form .res_right .right_title {
  font-size: 24px;
  margin-bottom: 8px;
}
.event_res_box .res_right .select_box select {
  width: 100%;
  padding: 0.8em 0.5em;
  border: 1px solid #999;
  border-radius: 0px;
  height: 48px;
  margin-bottom: 30px;
}
.event_res_box .res_right .select_box .res_btn {
  width: 100%;
  background-color: #ffaf2d;
  color: #ffffff;
  border: 1px solid #ffaf2d;
  height: 48px;
  padding: 0;
  font-size: 15px;
}

/** event_form E */

.event_detail .event_detail_top {
font-size: 20px;
margin-top: 30px;
padding: 15px;
margin-bottom: 20px;
}
.event_detail .event_detail_top .etc {
font-size: 20px;
}
.event_detail .event_detail_top {
border: 1px solid #999;

}
.event_detail .event_detail_mid dl dd {
	width: 20%;
}
