@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #212121;
}

.layout_width {
  max-width: 1100px;
  margin: 0 auto;
}

.dn {
  display: none;
}