<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" type="text/css" href="css/developer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/developer.js" defer> </script>
    <title>제작정보 - 오마이펫</title>
  </head>
  <body>
    <!-- 페이지 영역 S -->
    <div class="book_content dn">
      <button class="book_close">x</button>
      <div id="book">
        <!-- PAGE 1 -->
        <div id="page1" class="pageform">
          <ul>
            <li class="name">김민지
            <a href="https://github.com/swssbw" class="git"><i class="xi-github"></i></a>
            </li>
            <li class="position">백엔드 담당</li>
            <dl>
                <dt><i class="xi-mobile"></i></dt>
                <dd>010-3135-6202</dd>
            </dl>
            <dl>
              <dt><i class="xi-mail"></i></dt>
              <dd>swij1004@naver.com</dd>
            </dl>
        </ul>
        </div>
        <!---PAGE 2 -->
        <div id="page2" class="pageform">
        <ul>
            <li class="name">이정유
            <a href="https://github.com/ze0ngyu" class="git"><i class="xi-github"></i></a>
            </li>
            <li class="position">프론트엔드 담당</li>
            <dl>
              <dt><i class="xi-mobile"></i></dt>
              <dd>비공개</dd>
            </dl>
            <dl>
              <dt><i class="xi-mail"></i></dt>
              <dd>98jungyu@gmail.com</dd>
            </dl>
        </ul>
        </div>
        <!---PAGE 3 -->
        <div id="page3" class="pageform">
          <ul>
            <li class="name">이희영
            <a href="https://github.com/220dev" class="git"><i class="xi-github"></i></a>
            </li>
            <li class="position">프론트엔드 담당</li>
            <dl>
              <dt><i class="xi-mobile"></i></dt>
              <dd>010-8628-2218</dd>
            </dl>
            <dl>
              <dt><i class="xi-mail"></i></dt>
              <dd>220.devv@gmail.com</dd>
            </dl>
        </ul>
        </div>
        <!---PAGE 4 -->
        <div id="page4" class="pageform">
          <ul>
            <li class="name">정아현
            <a href="https://github.com/dkgus" class="git"><i class="xi-github"></i></a>
            </li>
            <li class="position">백엔드 담당</li>
            <dl>
              <dt><i class="xi-mobile"></i></dt>
              <dd>010-2046-7241</dd>
            </dl>
            <dl>
              <dt><i class="xi-mail"></i></dt>
              <dd>dkgus12dkgus@naver.com</dd>
            </dl>
        </ul>
        </div>
        <!---PAGE 5 -->
        <div id="page5" class="pageform">
          <ul>
            <li class="name">정현빈
            <a href="https://github.com/hyeonbin-jung" class="git"><i class="xi-github"></i></a>
            </li>
            <li class="position">프론트엔드 담당</li>
            <dl>
              <dt><i class="xi-mobile"></i></dt>
              <dd>010-2020-2559</dd>
            </dl>
            <dl>
              <dt><i class="xi-mail"></i></dt>
              <dd>reno@nate.com</dd>
            </dl>
        </ul>
        </div>
        <div class="book_swipe">
          <button id="backbutton" class="btn btn-secondary" onclick="showPrev();">
          <img src="img/devprev.png"></button>
          <button id="nextbutton" class="btn btn-primary" onclick="showNext();">
          <img src="img/devnext.png"></button>
        </div> <!-- //book_swipe -->
      </div> <!-- //book -->
      <img src="img/devpage.png" alt="">
    </div> <!-- //book_content -->
    <div id="layer_dim" class="dn"></div>
    <!-- 페이지 영역 E -->

    <div class="book_open">
      <button>
        <img src="img/devbook.png">
      </button>
    </div>
    <div class="goGit">
      <a href="https://github.com/dkgus/OH_MY_PET"><img src="img/git.png"></a>
    </div>
  </body>
</html>
