<header>
  <div class="header_box layout_width">
    <!--user menu start-->
		<div class="user_menu">
      {% if loginUser %}
      <nav>
        <a href="/users/show">마이페이지</a>
        <a href="/users/logout">로그아웃</a>
      </nav>
      {% else %}
      <nav>
        <a href="/users/login">로그인</a>
        <a href="/users/new">회원가입</a>
      </nav>
      {% endif %}
    </div>
    <!--user menu end-->
  </div>
  <!--main menu start-->
  <nav>
    <div class="gnb">
      <div class="inner layout_width">
        <ul class="main_menu">
          <li>
            <span class="all_category">
              <i class="xi-emoticon-smiley-o"></i>
              Logo
            </span>
          </li>
          <li><a href="/community">커뮤니티</a></li>
          <li><a href="/event">행사</a></li>
          <li><a href="/room">호텔예약</a></li>
          <li><a href="/notices">공지사항</a></li>
        </ul>
        <div class="icon_menu">
          <a href="#">
            <i calss="xi-search"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- main menu end -->
</header>
