{% extends '../layout.html' %} {% block content %}
<link rel="stylesheet" href="/css/main.css" />
<main>
  <!--main benner start-->
  <div class="main_banner">메인배너영역</div>
  <!--main benner end-->

  <!--event start-->
  <section class="event_display">
    <div class="inner layout_width">
      <div class="box_title">행사목록</div>
      <p class="subtitle">
        반려동물에게 더 좋은 반려인이 되기 위한 알찬 강연,<br />
        그리고 반려동물을 위한 신나는 페스티벌까지!
      </p>
      <ul class="s_event_box">
        <li class="s_event_list">
          <img src="image/cats.jpg" />
        </li>
        <li class="s_event_list">
          <img src="image/cats.jpg" />
        </li>
        <li class="s_event_list">
          <img src="image/cats.jpg" />
        </li>
      </ul>
      <a href="/notices" class="event_more"> 이벤트 더보기 </a>
      <!--//event box-->
    </div>
  </section>
  <!--event end-->

  <!--hotel list start-->
  <article class="hotel layout_width">
    <div class="box_title">호텔 목록</div>
    <p class="subtitle">
      갑작스럽게 잡힌 외박 일정, 반려동물이 걱정되세요?<br />
      오마이펫이 엄선한 반려동물 호텔을 이용해보세요!
    </p>
    <ul class="hotel_box">
      <li class="hotel_list">
        <a href="/room1">
          <img src="/image/room.png" />
          <p class="hotel_sort">인천</p>
          <p class="hotelnm">개편한세상</p>
        </a>
      </li>
      <li class="hotel_list">
        <a href="/room2">
          <img src="/image/room2.png" />
          <p class="hotel_sort">서울</p>
          <p class="hotelnm">엘리스애견호텔</p>
        </a>
      </li>
      <li class="hotel_list">
        <a href="/room3">
          <img src="/image/room3.png" />
          <p class="hotel_sort">경기</p>
          <p class="hotelnm">망고쿠로</p>
        </a>
      </li>
    </ul>
  </article>
  <!--hotel list end-->

  <!-- board start -->
  <div class="layout_width">
    <div class="board">
      <!--공지사항 게시판-->
      <div class="notice_box">
        <div class="notice_title">공지사항</div>
        <div class="notice_list">
          <ul>
            {% for item in notices %} {% if loop.revindex0 <= 5 %}
            <li>{ item.title } { item.createdAt }</li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>

      <!--커뮤니티 게시판-->
      <div class="cummunity_box">
        <div class="board_title">커뮤니티</div>
        <div class="cummunity_list">
          <ul>
            {% for item in posts %} {% if loop.revindex0 <= 5 %}
            <li>{ item.title } { item.createdAt }</li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- board end -->
</main>

{% endblock %}
