{% extends '../layout.html' %} {% block content %}
<link rel="stylesheet" href="/css/main.css" />
<main>
  <!--main benner start-->
  <div class="main_banner">메인배너영역(수정중)</div>
  <!--main benner end-->

  <!--event start-->
  <section class="event_display">
    <div class="inner layout_width">
      <div class="box_title">행사목록</div>
      <p class="subtitle">
        반려동물에게 더 좋은 반려인이 되기 위한 어쩌고 저쩌고<br />
        댕냥이들을 위한 신나는 페스티벌까지~!
      </p>
      <ul class="s_event_box">
        <li class="s_event_list">
          <img src="image/cats.jpg" />
        </li>
        <li class="s_event_list">
          <img src="image/cats.jpg" />
        </li>
        <li class="s_event_list">
          <img src="image/cats.jpg" />
        </li>
      </ul>
      <a href="/notices" class="event_more"> 이벤트 더보기 </a>
      <!--//event box-->
    </div>
  </section>
  <!--event end-->

  <!--hotel list start-->
  <article class="hotel layout_width">
    <div class="box_title">호텔 목록</div>
    <p class="subtitle">
      반려동물과 함께 떠나는 신나고 즐거운 호캉스<br />
      반려동물과 어쩌고를 할 수 있는 서비스까지~! 정말 최고다~!
    </p>
    <ul class="hotel_box">
      <li class="hotel_list">
        <a href="#">
          <img src="image/hotel1.jpg" />
          <p class="hotel_sort">종류</p>
          <p class="hotelnm">[인천] 돌봐줄개</p>
        </a>
      </li>
      <li class="hotel_list">
        <a href="#">
          <img src="image/hotel1.jpg" />
          <p class="hotel_sort">종류</p>
          <p class="hotelnm">[서울] 반려동물 동반 숙박 가능한 짱호텔</p>
        </a>
      </li>
      <li class="hotel_list">
        <a href="#">
          <img src="image/hotel1.jpg" />
          <p class="hotel_sort">종류</p>
          <p class="hotelnm">[인천] 펫토피아</p>
        </a>
      </li>
    </ul>
  </article>
  <!--hotel list end-->

  <!-- board start -->
  <div class="layout_width">
    <div class="board">
      <!--공지사항 게시판-->
      <div class="notice_box">
        <div class="notice_title">공지사항</div>
        <div class="notice_list">
          <ul>
            {% for notice in Notice %} {% if loop.revindex0 <= 5 %}
            <li>{ notice.title } { notice.createdAt }</li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>

      <!--커뮤니티 게시판-->
      <div class="cummunity_box">
        <div class="board_title">커뮤니티</div>
        <div class="cummunity_list">
          <ul>
            {% for community in Community %} {% if loop.revindex0 <= 5 %}
            <li>{ community.title } { community.createdAt }</li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- board end -->
</main>

{% endblock %}
