{% extends '../layout.html' %}
{%set title="글 작성"%}
{% block content %}
<link rel="stylesheet" type="text/css" href="/css/board.css">
  <div class='form_wrap layout_width'>
    <form method='post' action='/notices/{{ notice._id }}/edit' autocomplete='off'>
        <div class='top'>
          <ul>
            <li>제목</li>
            <li>
              <input type='text' name='title' value='{{ notice.title }}'>
            </li>
            <li>읽기 권한</li>
            <li>
              <select id="access" name="role" value="access">
                <option selected>관리자</option>
                <option>일반회원</option>
                <option>우수회원</option>
                <option>최우수회원</option>
              </select>
            </li>
          </ul>
        </div>
      	<div class="form">
            <textarea id="content" name="content" rows="40">{{ notice.content }}</textarea>
            <script> CKEDITOR.replace( 'content', { filebrowserImageUploadUrl: '../uploadIMG.jsp' }); </script>
	      </div>
      <div class='btnWrap'>
        <a href="/notices"><i class="xi-bars"></i>목록</a>
        <input type="submit" class="upload" value="수정" style='float: right;'>
      </div> <!-- //btnWrap -->
    </form>
  </div> <!-- //form_wrap -->
  {% endblock %}
