{% extends '../layout.html' %}
{%set title="{%boardtitle%}"%}
{% block content %}
<link rel="stylesheet" type="text/css" href="/css/board.css">
  <div class="boardTitle layout_width"><img src="image/title.png">notice</img></div>
  <div class='boardWrap layout_width'>
    <div class='post'>
      <div class="info">
        <ul class="top">
          <li class="category"><i class="xi-caret-up"></i>카테고리</li>
          <l class="title">{{ notice.title }}</li>
        </ul>
        <div class="sub_info">
          <ul class="profile_info">
            <li class="photo"><img src=""></li>
            <li class="grade">{{ user.role }}</li>
          </ul>
          <ul class="poster_info">
            <li>{{ notice.user }}</li> <br>
            <li>{{ notice.createAt }}</li>
            <li>조회수</li>
          </ul>
        </div> <!-- //sub_info -->
      </div> <!-- //info -->
      <div class='content' style="border-bottom: none;">
        {{ notice.content }}
      </div>
    </div> <!--//post-->
    <div class='buttonWrap'>
      <a href='/notices/new'><i class="xi-pen"></i>작성</a>
      <a href='/notices/{{ item._id }}/edit'><i class="xi-wrench"></i>수정</a>
      <button value='deletePost' class='post_delete'><i class="xi-trash"></i>삭제</button>
      <a href="/notices"><i class="xi-bars"></i>목록</a>
    </div>
  </div> <!--//boardWrap-->
  {% endblock %}
