.layout_width {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .title {
    text-align: center;
    margin-top: 50px;
    font-family: "Cafe24Ssurround";
    color: #ffaf2d;
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  table {
    margin-top: 50px;
    border-spacing: 10px;
    font-size: 1.4rem;
    color: #585858;
  }
  
  table {
    border-collapse: collapse;
    margin: 25px;
    font-size: 15px;
    min-width: 400px;
    width: 1050px;
  }
  
  table thead tr {
    background-color: #ffaf2d;
    color: #ffffff;
    text-align: center;
  }
  
  table tbody tr {
    text-align: center;
  }
  
  table th,
  table td {
    padding: 12px 15px;
  }
  
  table tbody tr {
    border-bottom: 1px solid #dddddd;
  }