{% extends '../layout.html' %}
<!-- 회원정보 수정하기 -->
{% block content %}
<div class='join_box layout_width'>
	 <div class='join_title'>회원정보 수정</div>
			<form method='post' action='{{ user._id }}' autocomplete='off' class='join_form'>
        <!--
        {{ user.name }}
        {{ user.email }}

        {{ user.type }}
        {{ user.phone }}
        {{ user.createdAt }} -->
				 <dl>
						<dt>이름</dt>
						<dd class='pad'>
							 <input type='text' name='name' value='{{ user.name }}'>
						</dd>
				 </dl>
				 <dl>
						<dt>반려동물 이름</dt>
						<dd class='pad'>
							 <input type='text' name='nickname' value='{{ user.nickname }}' placeholder='닉네임을 입력해주세요.'>
						</dd>
				 </dl>
				 <dl>
						<dt>아이디</dt>
						<dd class='pad'>
							 <input type='email' name='email' value='{{ user.email }}' placeholder='예 : nyang123@nate.com'>
						</dd>
				 </dl>
				 <dl>
						<dt>비밀번호</dt>
							 <dd class='pad'>
									<input type='password' name='password' placeholder='비밀번호를 입력해주세요.'>
							 </dd>
				 </dl>
				 <dl>
						<dt>비밀번호 확인</dt>
							 <dd class='pad'>
									<input type='password' name='memPwRe' placeholder='비밀번호를 한번 더 입력해주세요.'>
							 </dd>
				 </dl>
				 <dl>
						<dt>전화번호</dt>
						<dd class='pad'>
							 <input type='text' name='phone' value="{{ user.phone }}">
						</dd>
				 </dl>
				 <dl>
						<dt>반려동물 종류</dt>
						<dd>
						<input type="radio" name="type" value="dog" id="dog">
						<label for="dog">
						<i class="xi-radiobox-blank"></i>
						<i class="xi-radiobox-checked"></i>
						강아지
						</label>
						<input type="radio" name="type" value="cat" id="cat">
						<label for="cat">
						<i class="xi-radiobox-blank"></i>
						<i class="xi-radiobox-checked"></i>
						고양이
						</label>
						<input type="radio" name="type" value="hamster" id="hamster">
						<label for="hamster">
						<i class="xi-radiobox-blank"></i>
						<i class="xi-radiobox-checked"></i>
						햄스터
						</label>
						<input type="radio" name="type" value="bird" id="bird">
						<label for="bird">
						<i class="xi-radiobox-blank"></i>
						<i class="xi-radiobox-checked"></i>
						새
						</label>
						<input type="radio" name="type" value="other" id="other">
						<label for="other">
						<i class="xi-radiobox-blank"></i>
						<i class="xi-radiobox-checked"></i>
						기타
						</label>
						</dd>
				 </dl>
			<input type='submit' value='회원정보 수정' class='join_btn'>
	 </form>
</div>
{% endblock %}
