{% extends 'layout.html' %}
<!-- 로그인 폼 -->
{% block content %}
<div class='login_box layout_width'>
	<div class='login_title main_title'>로그인</div>
	<form method='post' action='/users/login' autocomplete='off'>
		<input type='text' name='email' placeholder='이메일을 입력해주세요.' class='mb10'>
		<input type='password' name='password' placeholder='비밀번호를 입력해주세요.' class='mb10'>
		<input type='submit' value='로그인' class='btn1'>
	</form>
	<div class='join_btn btn1'><a href='/users/new'>회원가입</a></div>
</div>
<!-- //login_box -->
{% endblock %}
