{% extends '../layout.html' %}

<!-- 회원 가입-->
{% block content %}
   <div class='layout_width'>
   <a href="{{user._id}}">수정하기</a>
    <div class='join_title'><h2>내정보</h2></div>
          <dl>
             <dt>반려동물 이름</dt>
             <dd class='pad'>
               {{ user.nickname }}
             </dd>
          </dl>
          <dl>
             <dt>이메일</dt>
             <dd class='pad'>
              {{ user.email }}
             </dd>
          </dl>
          <dl>
             <dt>가입일자</dt>
             <dd class='pad'>
              {{ user.createdAt }}
             </dd>
          </dl>
          <hr />
      <div class='join_title'><h2>이벤트 예약 내역</h2></div>
      {% for item in events %}
            <dl>
               <dt>행사명</dt>
               <dd class='pad'>
                <a href="event/{{item._id}}">{{ item.eventNm }}</a>
               </dd>
            </dl>
            <dl>
               <dt>예약자 이름</dt>
               <dd class='pad'>
                {{ item.user.nickname }}
               </dd>
            </dl>
            <dl>
               <dt>예약자 연락처</dt>
               <dd class='pad'>
                {{ item.user.phone }}
               </dd>
            </dl>
            <hr />
      {% endfor %}

      <div class='join_title'><h2>작성한 글 내역</h2></div>
      {% for item in posts %}
            <dl>
               <dt>글제목</dt>
               <dd class='pad'>
                  {{ item.title }}
               </dd>
            </dl>
            <dl>
               <dt>글내용</dt>
               <dd class='pad'>
                {{ item.content }}
               </dd>
            </dl>
            <dl>
               <dt>작성시간</dt>
               <dd class='pad'>
                {{ item.createdAt }}
               </dd>
            </dl>
            <hr />
      {% endfor %}
  

   </div>
   {% endblock %}