{% extends '../../veiws/layout.html' %} {% block content %}

<!-- 호텔명 -->
<div class="layout_width">
    <div>[서울] 앨리스애견호텔</div>

    <div>
        <img src="/image/room2.png" class="img" />
    </div>
    <!-- 예약 폼 -->
    <form action="room/new" method="POST">
        <input type="hidden" name="roomNm" value="앨리스애견호텔">
        <!-- 호텔 설명 -->
        <div class="room_des_box">
            <table>
            <tr>
                <td>호텔명</td>
                <td>앨리스애견호텔</td>
            </tr>
            <tr>
                <td>위치</td>
                <td>서울 강남구</td>
            </tr>
            <tr>
                <td>1박 가격</td>
                <td>5,000원</td>
            </tr>
            </table>
        <input type="submit" value="호텔 예약하기" />
    </form>


  <div class="room_info">
    <div>
      <i class="xi-maker-drop"></i>
      <div>서울특별시 강남구 웅앵동 132-1</div>
      <a href="">지도보기</a>
    </div>
    <div>
      <i class="xi-time-o"></i>
      <div>체크인 16:00 | 체크아웃 11:00</div>
    </div>
    <div>
      <i class="xi-call"></i>
      <div>02)000-0000</div>
    </div>
    <div>
      <i class="xi-check-circle-o"></i>
      <div>
        앨리스애견호텔은 집에서 아이들과 함께 밥을 먹고 자는,<br />
        24시간내내 함께 생활하는 애견호텔입니다.
      </div>
    </div>
  </div>
  <div class="room_info2">
    <div class="room_infobox">
      <div class="room_infotit">편의시설</div>
      <div class="room_infodes">
        산책로, 대형견/중형견/소형견 전용 운동장, 애견 수영장, 애견 샤워장 등 
      </div>
    </div>
    <div class="room_infobox">
      <div class="room_infotit">동물병원</div>
      <div class="room_infodes">
        돌봄원 지정 동물병원이 있어 아이가 혹여 다치게 되더라도 빠른 치료가 가능합니다. 진료 외에는 다른 영업 (분양, 교배, 미용, 관련 용품 판매 등)을 하지 않는 곳이기 때문에 진료에만 집중할 수 있습니다. 
      </div>
    </div>
    <div class="room_infobox">
      <div class="room_infotit">목욕 및 미용</div>
      <div class="room_infodes">
        목욕은 기본적으로 1회 무료이며 그 이상으로 필요한 경우 개별 상담이 필요합니다. 미용은 털이 많이 자란 상태이거나 지저분하게 보일 경우 보호자와 상의 후 실행하고 있습니다. 자세한 비용은 전화로 문의해주시기 바랍니다.
      </div>
    </div>
  </div>
</div>
{% endblock %}
