{% extends '../layout.html' %}
{% block content %}
{%set title="호텔 예약 내역"%}
<link rel="stylesheet" href="/css/room.css" />
<div class='title'>
    <i class='xi-caret-up'></i>예약 내역
</div>
<div class='listWrap'>
<div class='prevRev'>
    <ul class='top'>
        <li class='date'>예약일</li>
        <li class='name'>호텔명</li>
        <li class='sDate'>입실일</li>
        <li class='sDate'>퇴실일</li>
      </ul>
      <ul class='bottom'>
        {% for item in rooms %}
        <div class='eachList'>
            
            <li class='date'>{{ item.regDt }}</li>
            <li class='name'>{{ item.hotelName }}</li>
            <li class='sDate'>{{ item.revStart }}</li>
            <li class='eDate'>{{ item.revEnd }}</li>
        </div>
        {% endfor %}
    </ul>
</div> <!-- //prevREv -->
</div> <!-- //listWrap -->
{% endblock %}