{% extends '../layout.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/event.css" />
<div class="event_box layout_width">
  <div class="Event_title border_title">
    <a href="/users/mypage"><i class="xi-angle-left"></i></a> 호텔 예약
    전체보기
  </div>

  <div class="Event_banner_wrap">
    <table class="styled-table">
      <thead>
        <th>호텔 이름</th>
        <th>체크인</th>
        <th>체크아웃</th>
        <th>방 종류</th>
      </thead>
      <tbody>
        {% for item in rooms %}
        <tr>
          <td><a href="room/{{ item._id }}">{{ item.hotelName }}</a></td>
          <td><a href="room/{{ item._id }}">{{ item.revStart }}</a></td>
          <td><a href="room/{{ item._id }}">{{ item.revEnd }}</a></td>
          <td><a href="room/{{ item._id }}">{{ item.roomType }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}