{% extends '../layout.html' %}
{% block content %}
<link rel="stylesheet" href="/css/room.css" />
    <div class='title'>
        <i class='xi-caret-up'></i>예약 현황
    </div>
    <div class='listWrap'>
        <div class='listBox'>
            <ul>
                <li>호텔명</li>
                <li>{{ hotelName.room }}</li>
            </ul>
            <ul>
                <li>입실일</li>
                <li>{{ revStart.room }}</li>
            </ul>
            <ul>
                <li>퇴실일</li>
                <li>{{ revEnd.room }}</li>
            </ul>
            <ul>
                <li>룸 타입</li>
                <li>{{ roomType.room }}</li>
            </ul>
            <ul>
                <li>특이사항</li>
                <li>{{ memo.room }}</li>
            </ul>
            <div calss='revBtn' style='color: #585858;'>
                <button onclick='ask()'>취소 요청</button>
                <button class='editBtn' onclick="showEdit()">수정</button>
            </div>
        </div> <!-- //listBox -->

        <!--수정박스-->
        <div class='modifyBox dn'>
            <form action="">
            <ul>
                <li>호텔명</li>
                <li>어쩌구저쩌구호텔</li>
            </ul>
            <div class='detail'>
            <ul>
                <li>입실일</li>
                <input type="text">
            </ul>
            <ul>
                <li>퇴실일</li>
                <input type="text">
            </ul>
            <ul>
                <li>룸 타입</li>
                <select>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
            </ul>
            </div>
            <ul>
                <li>특이사항</li>
                <input type="textarea">
            </ul>
            <input type="submit" class='subBtn' onclick='showEdit()'>
        </form>
        </div> <!-- //modifyBox -->
    </div> <!-- //listWrap -->
{% endblock %}