{% extends '../layout.html' %}
{% block content %}
		<div class='event_detail layout_width'>
			<div class='event_detail_top'>
			<a href=""><i class='xi-angle-left'></i></a><span class='etc'> 예약 현황</span>
			</div>
			<div class='event_detail_mid'>
				<div class='event_detail_box box1'>
					<dl>
						<dd class='pad'>이벤트명</dd>
						<dt>{{ eventNm }}</dt>
					</dl>
					<dl>
						<dd class='pad'>예약번호</dd>
						<dt>{{ eventNo }}</dt>
					</dl>
					<dl>
						<dd class='pad'>예약자 성함</dd>
						<dt>{{ name }}</dt>
					</dl>
				</div>
			</div>
		</div>
{% endblock %}