{% extends '../layout.html' %}
{% block content %}
		<div class='event_detail layout_width'>
			<div class='event_detail_top'>
			<a href=""><i class='xi-angle-left'></i></a><span class='etc'> 예약 현황</span>
			</div>
			<div class='event_detail_mid'>
				<div class='event_detail_box box1'>
					<table>
					<tr>
						<td class='pad'>이벤트명</td>
						<td>{{ eventNm }}sdsdssd</td>
					</tr>
					<tr>
						<td class='pad'>예약번호</td>
						<td>{{ eventNo }}sdsdsds</td>
					</tr>
					<tr>
						<td class='pad'>예약자 성함</td>
						<td>{{ name }}sdsdsds</td>
					</tr>
					</table>
				</div>
			</div>
		</div>
{% endblock %}
