{% extends '../layout.html' %}
<!-- 이벤트 전체보기 -->
{% block content %}
{%set title="이벤트 예약 전체보기"%}
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/event.css">
	<div class='event_box layout_width'>
		<div class='Event_title border_title'><a href='/users/mypage'><i class='xi-angle-left'></i></a> 이벤트 예약 전체보기</div>

		<div class='Event_banner_wrap'>
				<table class='styled-table'>
					<thead>
						<th>
							이벤트 명
						</th>
						<th>
							예약자 성함
						</th>
						<th>
							예약자 연락처
						</th>
					</thead>
					<tbody>
						{% for item in events %}
							<tr>
							<td><a href="event/{{item._id}}">{{ item.eventNm }}</a></td>
							<td><a href="event/{{item._id}}">{{user.nickname}}</a></td>
							<td><a href="event/{{item._id}}">{{user.phone}}</a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div><!--//Event_text_wrap-->

	</div><!--//Event_box-->
{% endblock %}
