{% extends '../layout.html' %}
{% block content %}
	<div class='event_box layout_width'>
		<div class='Event_title'>행사</div>
		<div class='Event_banner_wrap'>
			<div class='banner_coentent'>
				<a href='#'><img src='image/event1.jpg'></a>
			</div>
			<div class='Event_text_wrap'>
				<div class='banner_etc'>
					<div class='banner_subject'>
						<!-- keeping 클래스 추가시 진행중 -->
						<div class='keeping-box keeping'>
						<span>진행중</span>
						</div>
						<span>{{ eventNm }}</span>
					</div><!--//banner_subject-->
				</div><!--//banner_etc-->
				<div class='banner_date'>
					<span>{{ eventNo }}</span>
				</div>
			</div><!--//Event_text_wrap-->
		</div><!--//Event_banner_wrap-->
	</div><!--//Event_box-->
{% endblock %}