{% extends '../layout.html' %}
{% block content %}
	<div class='event_res_box layout_width'>
		<div class='res_form'>
			<div class='res_left'>
				<img src="image/dog1.jpg">
			</div>
			<div class='res_right'>
				<div class='right_title'>
					{{ eventNm }}
				</div>
				<form method='POST' action='/event/new' target='ifrmHidden'>
					<div class='select_box'>
						<select name='eventNm'>
							<option name="event1" value='event1'>이벤트1</option>
							<option name="event2" value='event2'>이벤트2</option>
						</select>
					</div>

                    아이디<input type="text" name="nickname" value="nickname">
                    연락처<input type="text" name="phone" value="phone">


					<input type='submit' value='예약하기' class='res_btn'>

				</form>
			</div>
		</div>
	</div>
{% endblock %}