{% extends '../layout.html' %}
<!-- 이벤트 예약 상세보기 -->
{% block content %}
		<div class='event_detail layout_width'>
			<div class='event_detail_top'>
			<a href=""><i class='xi-angle-left'></i></a><span class='etc'> 예약 현황</span>
			</div>
			{% for item in events %}
			<div class='event_detail_mid'>
				<div class='event_detail_box box1'>
					<div class='img_box'>
					<img src="/image/{{ }}" class='img'>
					</div>
					<table>
					<tr>
						<td class='pad'>이벤트명</td>
						<td>{{ item.eventNm }}</td>
					</tr>
					<tr>
						<td class='pad'></td>
						<td></td>
					</tr>
					<tr>
						<td class='pad'>예약자 성함</td>
						<td>{{ item.user.nickname }}</td>
					</tr>
					</table>
				</div>
			</div>
			{% endfor %}
		</div>
{% endblock %}
