{% extends '../login.html' %}
<!-- admin page layout -->

{% block content %}
<link rel="stylesheet" type="text/css" href="/css/admin/admin.css" />
<!-- confirm event res. -->
<div class="layout_width">
  <div class="title">EVENT RESERVATION LIST</div>
  <!-- DELETE METHOD -->
  <table>
    <thead>
      <tr>
        <td>event name</td>
        <td>user email</td>
        <td>res. time</td>
        <td>delete</td>
      </tr>
    </thead>
    <tbody>
      {% for item in events %}
      <tr>
        <td>{{ item.eventNm }}</td>
        <td>{{ item.user.email }}</td>
        <td>{{ item.createdAt }}</td>
        <td>
          <a
            href="/event/{{ item._id }}/delete"
            onclick="confirm('정말 삭제하시겠습니까?')"
            >DELETE</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
